
input{
    border:1px solid black !important; 
}
textarea{
    border:1px solid black !important; 
}
img{
    margin-left: 160px;
    border-radius:50%;
    height: 200px;
    width: 200px;
}
button{
    margin-top: 90px;
}
section{
    margin-top: 160px !important;
}
.add{
position: fixed;

}