
input{
    border:1px solid black !important; 
}
textarea{
    border:1px solid black !important; 
}

button{
    margin-top: 90px;
}
section{
    margin-top: 160px !important;
}
.add{
position: fixed;

}