<app-header></app-header>
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }
  
      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>
  
    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        <div class="col-lg-10 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">Edit User Profile </h2>
             
              <form [formGroup]="editprofile">
              
                <div class="row">
                  <div class="col-md-6 mb-4 pull-right">

                    <ngx-avatar class="pull-right mr-5 pr-5 "  src="http://localhost:8080/{{users.photo}}" size="150" bgColor="orangered"  name="{{users.firstName}} {{users.lastName}} "src=""></ngx-avatar>
                    <!-- <img src="http://localhost:8080/{{users.photo}}" alt=""> -->
                  </div>
                  <div class="col-md-6 mb-4">
                      <label for="exampleDatepicker2" class="form-label">Add Image</label>
                          <input type="file"  class="form-control" (change)="onFileChanged($event)" >
                         
        
                  </div>
                </div>
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <div class="form-control">
                          <label for="form3Example1">First name</label>
                      <input type="text" formControlName="firstName" id="form3Example1" class="form-control" />
                      <small *ngIf="editprofile.get('firstName')?.invalid && editprofile.get('firstName')?.touched" class="text-danger">First Name is required..</small>

                    </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <div class="form-control">
                          <label for="form3Example2">Last Name</label>
                      <input type="text" formControlName="lastName" id="form3Example2" class="form-control" />
                      
                      <small *ngIf="editprofile.get('lastName')?.invalid && editprofile.get('lastName')?.touched" class="text-danger">Last Name is required..</small>

                    </div>
                    </div>
                  </div>
                </div>
                  <br><br>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <div class="form-control">
                      <label  for="form3Example3">Email address</label>
                  <input type="email" formControlName="email" id="form3Example3" class="form-control" />
                  <small *ngIf="editprofile.get('email')?.invalid && editprofile.get('email')?.touched" class="text-danger">Enter valid email..</small>

                </div>
                </div>
                <br>
                <div class="form-outline mb-4">
                <div class="form-group">
                  <label  for="form3Example">Bio</label>
                    <textarea class="form-control rounded-0" formControlName="bio" id="exampleFormControlTextarea2" rows="3" placeholder="Something about yuorself.."></textarea>
                   </div>
            </div><br>
                
                <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                          <div class="form-control">
                            
                            <label for="form3Example1">Mobile Number</label><br/>
                            <input type="text" formControlName="mobile" id="form3Example4" class="form-control" [ng2TelInputOptions]="{initialCountry: 'in'}"  ng2TelInput />
                            <!-- <input type="text" class="form-control" formControlName="mobile"  id="form3Example4"> -->
                            <small *ngIf="editprofile.get('mobile')?.invalid && editprofile.get('mobile')?.touched" class="text-danger">Mobile number is required & must of 10 digits..</small>

                      </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      
                        <div class="form-outline datepicker" data-mdb-inline="true">
                          <label for="exampleDatepicker2" >Date Of Birth</label>
                            <input type="date" formControlName="dob" class="form-control" id="exampleDatepicker2">
                          </div>
                        </div>
                  </div>
                  <br><br>
                  <div class="row">
                  <div class="form-outline-md-12 mb-4">
                    <div class="gender form-control">
                        <label>Gender:</label><br>
                        
                      <input class="m-3" type="radio" id="male" formControlName="gender"  value="Female">
                      <label >Female</label>
                      <input  class="m-3" type="radio" id="female" formControlName="gender" value="Male">
                      <label >Male</label><br>
                      <small *ngIf="editprofile.get('gender')?.invalid " class="text-danger">Gender is required ...</small>

                    </div>
                  </div>
                </div>
  
                <!-- Submit button -->
               
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <button class="btn btn-danger" routerLink="/feed">Cancel</button>
                  </div>
                  <div class="col-md-6 mb-4">
                    <button type="submit" [disabled]="editprofile.invalid" class="btn btn-primary "(click)="updateUser()">
                      Update User Profile
                    </button>
                  </div>
                </div>
                
              </form>
            </div>
          </div>
        </div>
  
        <!-- <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
            alt="" />
        </div> -->
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
