.sow{
    margin-bottom: 20px;
}
.container{
    padding: 20px;
}
.card{
    padding:20px;
}
.add{
    margin-right: 30px;
}

.ap{
    margin-top: 10px;
    font-size: 12px;
    
}
i{
    padding:15px;
}
.comment{
    margin-left: 20px;
    width:250px;
    font-size: large;
    border: none;
}
.badge{
  font-size: 10px;
  background-color: white;
  color: black;
}
.fas{
position: fixed;
left:80%;
top: 15%;

font-size: 50px;
}
.left{
    display: flex;
    justify-content: space-between;
}
.allComment
{
    overflow:scroll;
    height: 120px;
}