.container{
    margin-top: 70px;
}
input{
    border:1px solid black !important;
   
  padding:15px !important   ;
}

label{
  padding:20px;
  font-size: large;
}
.form-label{
    font-size: large; 
}